<div class="jumbotron">
  <h1>Welcome</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class"panel-heading">
          <h3 class="panel-title text-center">Open Jobs</h3>
        </div>
        <div class="panel-body">
          <h1 class="text-center">36</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class"panel-heading">
          <h3 class="panel-title text-center">Contacteds</h3>
        </div>
        <div class="panel-body">
          <h1 class="text-center">254</h1>
        </div>
      </div>
    </div>
  </div><div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class"panel-heading">
          <h3 class="panel-title text-center">August QHECs</h3>
        </div>
        <div class="panel-body">
          <h1 class="text-center">207</h1>
        </div>
      </div>
    </div>
  </div><div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class"panel-heading">
          <h3 class="panel-title text-center">mWh Savings</h3>
        </div>
        <div class="panel-body">
          <h1 class="text-center">3.1</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class"panel-heading">
          <h3 class="panel-title text-center">Open QHEC Leads</h3>
        </div>
        <div class="panel-body">
          <h1 class="text-center">36</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class"panel-heading">
          <h3 class="panel-title text-center">Scheduled QHECs</h3>
        </div>
        <div class="panel-body">
          <h1 class="text-center">154</h1>
        </div>
      </div>
    </div>
  </div><div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class"panel-heading">
          <h3 class="panel-title text-center">Open Audit Leads</h3>
        </div>
        <div class="panel-body">
          <h1 class="text-center">41</h1>
        </div>
      </div>
    </div>
  </div><div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class"panel-heading">
          <h3 class="panel-title text-center">QHEC to Audit</h3>
        </div>
        <div class="panel-body">
          <h1 class="text-center">12%</h1>
        </div>
      </div>
    </div>
  </div>
</div>
  