<h1>New Phone</h1>
<%= simple_nested_form_for @phone do |f| %>
  <div class="col-lg-6">
    <div class="input-group">
      <div>
        <%= f.association :phone_type %>
      </div>
      <%= f.input :number, placeholder: '(xxx) xxx-xxxx' %>
    </div>
    <%= f.button :submit %>
  </div>
<% end %>