<h2>End Customer Perspective</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">From the perspective of UtilityCo end customer, how might these two programs compare?</h3>
  </div>
  <div class="panel-body">
    <p>UtilityCo has numerous end customers. I believe that a few different end customer groups will have different perspectives on the comparison between the Opower Program and the Refrigerator Program.</p>

    <ul>
    <li>First, there are customers who do not wish to purchase a new refrigerator in the next 12 years. These customers will favor the Opower Program, which is provided at no cost to the end customer and still saves the customer $90.00 in utility bills over 12 years.</li>
    <li>Second, there are customers who will purchase a new refrigerator in the next 12 years. These customers would likely still prefer the Opower Feedback Program to the Refrigerator Program, because the refrigerator will cost $50 more than a standard efficiency refrigerator, and the Refrigerator program saves the end consumer only $30 more than the Opower Program over 12 years. So, the end customer could save $20 more with the Opower Feedback Program and still purchase a standard efficiency refrigerator.</li>
    <li>Some customers might value the increased kWh savings from the refrigerator and might choose the refrigerator program despite the greater monetary benefit of the Opower Program.</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">How would you advocate for the Opower program?</h3>
  </div>
  <div class="panel-body">
    <p>I would advocate for the Opower program by explaining the following benefits to end customers. First, the program is provided at no cost to end customers. I would tell end customers that the feedback will give them better insight into their energy usage and ways that they can save energy. The program will also help UtilityCo. save money and prevent some peak outages that might have otherwise occurred. Lastly, I would tell end customers that participants in the program use less energy and save $90 over the lifetime of the program (on average).</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">How would you advocate for the refrigerator program?</h3>
  </div>
  <div class="panel-body">
    <p>I would advocate for the refrigerator program by explaining the following benefits to end customers. First, most refrigerators need to be replaced every 10-20 years. For customers who are looking to replace their refrigerator, they can save money in the long-term by participating in the program. Customers who purchase an energy efficient refrigerator have a payback of just 5 years over the cost of a standard refrigerator. After that, they'll actually save money on their purchase (about $70 per refrigerator).</p>

<p>New refrigerators come with other benefits. New appliances can increase home values. Also, energy efficient refrigerators often have advanced features that older refrigerators lack, including french doors, bottom-mount freezers, and improved temperature controls that keep your food fresher, longer.</p>
  </div>
</div>