<h2>Utility Perspective</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">From UtilityCo.’s perspective, how might these two programs compare?</h3>
  </div>
  <div class="panel-body">
    <p>UtilityCo considers net benefit (as per the assumptions of the prompt) as a key metric for comparison of the two programs. The cumulative net benefit of the programs are -$30.00 for the Opower Feedback Program and $70.00 for the Refrigerator Feedback Program. The net present value of the net benefits are -$24.17 and $50.38 respectively. Based on Net Benefit alone, UtilityCo would want to choose the Refrigerator Feedback Program.</p>

    <p>However, that decision would need to be based on some big assumptions:</p>

    <ul>
      <li>First, that participation rates amongst the general population are equal between the two programs.</li>
      <li>Secondly, that UtilityCo equally values short and long-term benefits and program goals.</li>
      <li>Third, that there will be no other associated costs with either program.</li>
      <li>Fourth, that all kWh are equally valued by UtilityCo. Even refrigerator savings over the course of a year, for example, might not be as highly valued as HVAC savings during the winter and summer months.</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">How would you advocate for the Opower Program?</h3>
  </div>  
  <div class="panel-body">
    <p>The Opower Program has many benefits for UtilityCo that the Refrigerator Program lacks.</p>

    <h4>Participation Rates</h4>

    <p>The Opower Program is provided at no additional cost to the end customer, as opposed to the Refrigerator Program, which requires a $450 expenditure (post-rebate) from the end customer. The large upfront cost for the Refrigerator Rebate Program will probably exclude many potential participants. So, while the cumulative savings for any one household are greater through the Refrigerator Rebate Program, it is likely that many more people will participate in the Opower Program, resulting in more kWh savings for UtilityCo. UtilityCo could test this hypothesis and make its decision based on findings, or could turn to data on similar programs provided by Opower or an independent third-party.</p>

    <h4>Customer Satisfaction</h4>

    <p>The Opower Feedback Program has some other benefits. The constant feedback with customers could improve customer satisfaction with UtilityCo and strengthen customer loyalty. Customer loyalty is increasingly important for utilities who are competing with distributed power systems.</p>

    <h4>Timing</h4>

    <p>UtilityCo should also consider that the Opower Feedback Program provides big efficiency improvements in years 1-3, saving 50% more kWh than the Refrigerator Rebate Program during that time. UtilityCo may favor saving in early years over later years for cash flow purposes. Similarly, the timing of the savings may be important to UtilityCo. Savings spread evenly over a year (as with a refrigerator) will not help UtilityCo with demand issues as much as savings during summer and winter months. If the Opower Feedback Program helps UtilityCo with peak demand issues, UtilityCo could favor the Opower Program, despite the lower net benefit.</p>

    <h4>No Additional Costs</h4>

    <p>The refrigerator Rebate Program will likely require UtilityCo to incur expenses in addition to the rebates. Marketing initiatives such as POV displays in appliance stores and mailings to homeowners might be required to generate awareness. Similarly, UtilityCo will need to pay for rebate processing and tracking. Conversely, the Opower Feedback Program requires no additional expenditures on the part of UtilityCo.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">How would you advocate for the Refrigerator Program?</h3>
  </div>
  <div class="panel-body">
    <p>The Refrigerator Rebate Program provides the largest net benefit for UtilityCo., both in terms of monetary return and kWh saved.</p>

    <h4>Financial</h4>

    <p>The Refrigerator Rebate Program is the most attractive from almost any financial perspective. It has a savings-to-investment ratio of 2.4, and a net present value benefit of $50.38 per end customer. From a cash flow perspective, the Refrigerator Rebate Program provides consistent and predictable savings each year. All of the costs are incurred upfront, in the first year.</p>

    <h4>Rebate Costs</h4>

    <p>The Refrigerator Program could be less expensive than planned if homeowners purchase the energy efficient refrigerators and neglect to apply for the rebate. UtilityCo should try to discern how many homeowners might purchase an energy efficient refrigerator without applying for a rebate. That could lower their cost and improve their ROI.</p>

    <h4>kWh Savings</h4>

    <p>The savings add up to greater kWh savings per participating home. Refrigerator Rebate Program homes will save 1,200 kWh over 12 years versus 900 kWh for the Opower Feedback Program.</p>

    <h4>Consistent Returns</h4>

    <p>Lastly, the Refrigerator Rebate Program does not suffer from the same diminishing returns as the Opower Feedback Program. Instead, the Refrigerator Rebate Program provides consistent net benefits to UtilityCo.</p>
  </div>
</div>