<%= render 'opower_feedback_table' %>
<%= render 'refrigerator_rebate_table' %>

<div class="row">
  <div class="col-md-6">
    <img src="/utility.png" class="img-responsive center-block" alt="Utility" height="50%" width="50%">
    <%= render 'utility' %>
  </div>
  <div class="col-md-6">
    <img src="/home.png" class="img-responsive center-block" alt="Home" height="50%" width="50%">
    <%= render 'customer' %>
  </div>
</div>
