<h1>Projects</h1>
<ul>
  <% @projects.each do |project| %>
    <li>
      <h3><%= project.name %></h3>
      <p><%= project.description %></p>
      <% project.tasks.each do |task| %>
        <li><%= task.name %></li>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add Project", new_project_path %>